<!--{template header}-->
<script src="./template/default/feed/js/jquery.min.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
<link rel="stylesheet" href="./template/default/time/css/styles.css" />
<link rel="stylesheet" href="./template/default/time/countdown/jquery.countdown.css" />

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb">
      <a href="index.html" title="活动中心" class="tip-bottom"><i class="icon-tint"></i>活动中心</a>
      <div class="bg_lb" style="float:right;margin-top:-38px;"> <a href="#huodongmyModal" data-toggle="modal" style="color:#fff;"> <i class="icon-pencil"></i>发起活动</a> </div>
    </div>
  </div>
   <!-- 楼下这div是发起活动的窗口 -->
  <div id="huodongmyModal" class="modal hide">
    <div class="modal-header">
      <button data-dismiss="modal" class="close" type="button">×</button>
      <h3>发起活动</h3>
    </div>

    <div class="modal-body">
              <div class="widget-content nopadding" style="border:0;">
                <form action="#" method="get" class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label">Last Name :</label>
                    <div class="controls">
                      <input type="text" class="" placeholder="Last name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Date Picker (mm-dd)</label>
                    <div class="controls">
                      <div data-date="12-02-2012" class="input-append date datepicker">
                       <input type="text" value="12-02-2012" data-date-format="mm-dd-yyyy" class="span2">
                      <span class="add-on"><i class="icon-th"></i></span> </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Company info :</label>
                    <div class="controls">
                      <input type="text" class="" placeholder="Company name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Description field:</label>
                    <div class="controls">
                      <input type="text" class="">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Message</label>
                    <div class="controls">
                      <textarea class=""></textarea>
                    </div>
                  </div>
                
                </form>
              </div>
      
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success">确定</button>
      <a data-dismiss="modal" class="btn btn-inverse" href="#">取消</a>
    </div>
  </div>
<!--End-breadcrumbs-->
      


<!--Action boxes-->
  <div class="container-fluid">
    <div class="row-fluid">
    <div class="span8">

<!-- //内容信息的主体 -->

<!-- 二手信息发布主体 -->
 <div id="secondmyModal"  style="width:1000px;left:40%;">
   <div class="widget-content tab-content" style="padding:0px;height:500px;">
     <div class="modal-header">
        
          <h3>二手商品交易信息</h3>
     </div>
     <div style="width:100%;height:400px;">
        <div class="modal-body" style="text-align:center;overflow-y:hidden;float:left;width:500px;padding:0px;margin-top:10px;border-right:1px solid #CDCDCD;">
             <p>交易标题：<input style="margin-left:6px;" type="text" name="sed_subject" id="sed_subject" placeholder="一个好标题可以很有吸引力的哦。">
            
             <p>交易价格：<input style="margin-left:6px;" type="text" name="sed_price" id="sed_price" placeholder="马年搵大钱！">             
             </p>
             <p>
              <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    
                    截止时间：<input class="form-control" size="12" style="width:209px;margin-left:10px;" id="sed_dateline" type="text" value="" placeholder="点击选择时间，我好调闹钟。" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span> 
                </div>
             </p>
             <p>交易详情：<textarea style="margin-left:6px;width:208px;" rows="5" cols="10" name="sed_message" id="sed_message" placeholder="还有什么想说的，不怕说。"></textarea></p>
        </div>
          <!-- 上传图片 -->
        <div class="modal-body" style="text-align:center;overflow-y:hidden;">
           <div style=" float:left;width:100px;padding-top:20%;">
                <input type="file" name="attach_" value="上传图片" class="button" id="secondfileinput_" >
                <input name="pics" id="sedpics_" type="hidden" value="" >
           </div>
           <div style="padding-top:20%;">
                <img src="" id="sedoptionimga_" style="display:none;float:left"/>
           </div>
        </div>
     </div>
     <div style="width:100%;text-align:center;">
               <button type="submit" id="sed_jiaoyi" class="btn btn-success">发布</button>
               <button type="reset" class="btn btn-success">重置</button>
     </div>
   </div>
</div>
<!-- 二手信息发布主体终止 -->

                <script language="javascript" src="swfupload/jquery.uploadify-3.1.min.js"></script> 
            <link href="swfupload/uploadify.css" rel="stylesheet" type="text/css">
           <!--  <script language="javascript">var jquery = jQuery.noConflict(); </script>-->
            <script>
                  jquery(document).ready(function() {
                        
                    　　jquery('#fileinput_').uploadify({
                     　　//以下参数均是可选
                     　　'swf' : 'uploadify.swf', //指定上传控件的主体文件，默认'uploader.swf'
                     　　'uploader' : './cp.php?ac=upload', //指定服务器端上传处理文件，默认'upload.php教程'
                      'checkScript' : true,
                     　　'cancelimg' : 'swfupload/uploadify-cancel.png', //指定取消上传的图片，默认'cancel.png'
                     　　//'buttonimg':'swfupload/upload2.jpg',
                     　　'auto' : true, //选定文件后是否自动上传，默认false
                     　　//'folder' : '/userphoto' , //要上传到的服务器路径，默认'/'
                     　　'multi' : false, //是否允许同时上传多文件，默认false
                     　　'filedesc' : '图片文件' , //出现在上传对话框中的文件类型描述
                     　　'fileext' : '*.jpg;*.bmp;*.png;*.gif', //控制可上传文件的扩展名，启用本项时需同时声明filedesc
                     　　'sizelimit': 86400, //控制上传文件的大小，单位byte
                      'formData': { 'uploadsubmit2': 'true', 'albumid':'0', 'formhash':'<!--{eval echo formhash();}-->', 'index':'1', 'ac':'upload', 'uid' : '$_SGLOBAL[supe_uid]',"session":"<?php echo session_id()?>"},
                     　　'onUploadSuccess': function(file, data, response) {
                      　　  //jquery('#image').attr("src","<%=basepath%>userphoto/"+res ponse);
                      　　  //jquery('#image').show();
                      　　  //jquery('#photo').attr("value",response);
                        
                          data = eval("(" + data + ')');
                        
                        jquery("#optionimga_").attr("src",data.pic);
                        jquery("#optionimga_").show();
                        jquery("#pics_").val(data.picid);
                        var astr = '<a href="#" id="delete" onclick="deletepic();">删除</a>';
                        jquery("#optionimga_").parent().append(astr);
                        
                     　　},
                      'onUploadComplete': function(file){
                        jquery('#fileinput_').hide();
                        
                      },
                      'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                        alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                      },
                      'fileObjName':'attach',
                     　　'onUploadError' : function(file, errorCode, errorMsg, errorString){
                     　　 alert("文件:" + file.name + " 上传失败");
                     　　}
                    　　});
                     
            　　});
               
            </script>

<!--End-breadcrumbs-->
<script type="text/javascript">
 $(document).ready(function () {
  
$("#sed_jiaoyi").click(function(){//二手市场信息发布
     // alert("123");
      $.ajax({
                type:"POST",
                url:"space.php?do=seddeal",
                data:"sed_subject="+$('#sed_subject').val()+"&sed_price="+$('#sed_price').val()+"&sed_dateline="+$('#sed_dateline').val()+"&sed_message="+$('#sed_message').val()+"&picid="+$('#sedpics_').val()+"&sed_jiaoyi=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                async:true,                                                 
                    success: function (data) {
                      if(data=='-1')
                      {
                        alert("选项有空值");
                      }else{
                        alert('交易信息发布成功');
                        window.history.back(-1);
                      }
                    }
        })
     });

//收藏
  $("#shoucang$value[id]").click(function(){
           $.ajax({
            type:"POST",
            url:"space.php?do=seddeal",
            data:"id=$value[id]&shoucang=1",
            async: true,                    
             success: function (data) {
                      if(data=='1')
                      {
                        $.gritter.add({
                          title:  '',
                          text: '信息收藏成功',
                          sticky: false
                        }); 
                         $("#second$value[id]").hide();
                      }else{
                        alert('亲，麻烦您再试一次！');//
                      }
              }
       });
  });

//删除功能
    $("#delete$value[id]").click(function(){
       $.ajax({
            type:"POST",
            url:"space.php?do=seddeal",
            data:"id=$value[id]&delete=1",
            async: true,                    
             success: function (data) {
                      if(data=='1')
                      {
                        $.gritter.add({
                          title:  '',
                          text: '信息删除成功',
                          sticky: false
                        }); 
                         $("#second$value[id]").hide();
                      }else{
                        alert('删除没成功');//
                      }
              }
       });
      
    });
//修改功能
    $("#modifysecond$value[id]").click(function(){
      //alert("11");
       $.ajax({
                 type: "POST",
                 url: "space.php?do=seddeal",
                 data: "subject="+$('#resubject$value[id]').val()+"&time="+$('#retime$value[id]').val()+"&price="+$('#reprice$value[id]').val()+"&message="+$('#remessage$value[id]').val()+"&picid="+$('#pics_').val()+"&id=$value[id]&modifysecond=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                  async: true,                    
                    success: function (data) {
                      if(data=='-1')
                      {
                        alert('选项有空值');//
                      }else{
                        $("#modifymyModal$value[id]").hide();
                        $(".modal-backdrop").hide();
                        $.gritter.add({
                          title:  '',
                          text: '信息修改成功',
                          sticky: false
                        }); 
                        $('#subject$value[id]').html($('#resubject$value[id]').val());
                         $('#price$value[id]').html($('#reprice$value[id]').val());
                        $('#message$value[id]').html($('#remessage$value[id]').val()); 
                        //$("#notetime").hide();
                        //$("#notetime").html($('#retime$value[id]').val());
                       //  $("#time$value[id]").parent().find('#notetime').html($('#retime$value[id]').val());

                      }
                    }
                  })
              });


  $("#amyModal$value[id]").click(function () {
          $.ajax({
                 type: "POST",
                 url: "./source/qr.php",
                 data: "uid=$value[uid]&loginuid=$_SGLOBAL[supe_uid]&id=$value[id]&qr=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                  async: true,                    
                    success: function (data) {
                    $("#qrcode").html("<img src='"+data+"'>");
                    }
                  })
        });

  })
</script>
<script src="./template/default/time/countdown/jquery.countdown.js"></script>
<script type="text/javascript">
$(function(){
   var notetime = $('#notetime');
  var note = $('#time$value[id]').val()*1000,

  ts = $('#time$value[id]').val()*1000,
    newYear = true;
  if((new Date()).getTime() < ts){
    // The new year is here! Count towards something else.
    // Notice the *1000 at the end - time must be in milliseconds
    ts = (new Date()).getTime() + (note-(new Date()).getTime());
      $("#time$value[id]").parent().find('.countdown').countdown({
    timestamp : ts,
    callback  : function(days, hours, minutes, seconds){

      var message = "距离截止时间还有:";
      if(days!='0'){
        message += days + " 天"  + " ";
      }
      message += hours + " 时" + " ";
      message += minutes + " 分"   + " ";
      message += seconds + " 秒" + " ";
 /*     
      if(newYear){
        message += "left until the new year!";
      }
      else {
        message += "left to 10 days from now!";
      }*/
      $("#time$value[id]").parent().find('#notetime').html(message);
      }
    });
    newYear = false;
  }else{
    $("#time$value[id]").parent().find('.countdown').hide();
    //$("#time$value[id]").parent().parent().find('#baoming').hide();
    $("#time$value[id]").parent().find('#notetime').html("已过期");
    $("#amyModal$value[id]").hide();
    $("#amodifyModal$value[id]").hide();
  }

   
  
});

</script>

<!--    内容终止    -->

    </div>

  </div>
</div>
</div>
<!--end-main-container-part-->

<!--Footer-part-->


<!--{template footer}-->


<!--end-Footer-part-->

<script src="./template/default/feed/js/excanvas.min.js"></script> 

<script src="./template/default/feed/js/jquery.ui.custom.js"></script> 
<script src="./template/default/feed/js/bootstrap.min.js"></script> 
<script src="./template/default/feed/js/jquery.flot.min.js"></script> 
<script src="./template/default/feed/js/jquery.flot.resize.min.js"></script> 
<script src="./template/default/feed/js/jquery.peity.min.js"></script> 
<script src="./template/default/feed/js/fullcalendar.min.js"></script> 
<script src="./template/default/feed/js/matrix.js"></script> 

 <script src="./template/default/feed/js/matrix.dashboard.js"></script> 


<script src="./template/default/feed/js/jquery.gritter.min.js"></script> 
<script src="./template/default/feed/js/matrix.interface.js"></script> 
<script src="./template/default/feed/js/matrix.chat.js"></script> 
<script src="./template/default/feed/js/jquery.validate.js"></script> 
<script src="./template/default/feed/js/matrix.form_validation.js"></script> 
<script src="./template/default/feed/js/jquery.wizard.js"></script> 
<script src="./template/default/feed/js/jquery.uniform.js"></script> 
<script src="./template/default/feed/js/select2.min.js"></script> 
<script src="./template/default/feed/js/matrix.popover.js"></script> 
<script src="./template/default/feed/js/jquery.dataTables.min.js"></script> 
<script src="./template/default/feed/js/matrix.tables.js"></script> 
<script type="text/javascript" src="./template/default/feed/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="./template/default/feed/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    var today = new Date();
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        autoclose: true,
        todayBtn: true,
        showMeridian: true,
        startDate: today,
        format: 'yyyy-mm-dd hh:ii'

    });
  $(document).ready(function () {

    

    $("#huodong").click(function () {
      $.ajax({
                 type: "POST",
                 url: "space.php?do=deal",
                 data: "subject="+$('#subject').val()+"&time="+$('#time').val()+" &message="+$('#message').val()+"&huodong=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                  async: true,                    
                    success: function (data) {
                      if(data=='-1')
                      {
                        alert("选项有空值");
                      }else{
                        alert("发布成功");
                      }
                    }
                  })
              });
         
    $("#guoneimore").click(function () {
      
        $.ajax({
                   type: "POST",
                   url: "space.php?do=deal",
                   data: "more=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                    async: true,                    
                      success: function (data) {
                      $("#guoneimore").before(data);//国内新闻更多按钮实现方法
                      $("#guoneimore").hide();//更多隐藏
                      }
                });
            });

    $("#guowaimore").click(function () {
      
        $.ajax({
                   type: "POST",
                   url: "space.php?do=deal",
                   data: "guowaimore=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                    async: true,                    
                      success: function (data) {
                      $("#guowaimore").before(data);//国内新闻更多按钮实现方法
                      $("#guowaimore").hide();//更多隐藏
                      }
                });
            });

    $("#yulemore").click(function () {
      
        $.ajax({
                   type: "POST",
                   url: "space.php?do=deal",
                   data: "yulemore=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                    async: true,                    
                      success: function (data) {
                      $("#yulemore").before(data);//国内新闻更多按钮实现方法
                      $("#yulemore").hide();//更多隐藏
                      }
                });
            });
    $("#tiyumore").click(function () {
      
        $.ajax({
                   type: "POST",
                   url: "space.php?do=deal",
                   data: "tiyumore=1",//提交表单，相当于CheckCorpID.ashx?ID=XXX
                    async: true,                    
                      success: function (data) {
                      $("#tiyumore").before(data);//国内新闻更多按钮实现方法
                      $("#tiyumore").hide();//更多隐藏
                      }
                });
            });
      });
</script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>

</body>
</html>
